.posts{
    max-width: 800px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #e8eaed;
    border-radius: 10px;
}

.button{
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4469ae;
    color: #ffffff;
    font-weight: 600;
    border: 1px solid #4469ae;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    background-color: #3d5e9c;
    border-color: #3d5e9c;
}

.button:active{
    background-color: #365389;
    border-color: #365389;
}